
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.form-group .required .col-md-6 .control-label:after{
    color: #8b0000;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}


a:link {
    color: #007bff;
}

a:visited {
    color: #008bcc;
}

a:focus {
    text-decoration: none;
    border-bottom: 1px solid;
    background: #BAE498;
}

a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
    background: #F2F2F2;
}

a:active {
    background: #F2F2F2;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}